RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php/$1 [L] 

# RewriteEngine on
# RewriteRule ^$ /index.php [L]
# RewriteCond $1 !^(index\.php|img|css|temp|js|video_files|robots\.txt|favicon\.ico)
# RewriteRule ^(.*)$ /index.php/$1 [L] 
